<div class="">
  <!-- <div style="padding-top: 20px; padding-bottom: 10px;" class="row">
    <div class="jumbotron">
      <h1 class="header">Shit ToDo Today</h1>
      <p class="flow-text">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
  </div> -->
  <br />

  <!-- <div class="section">
    <div class="row z-depth-2">
      <h1 style="font-weight: 600; padding-top: 0px; padding-bottom: 0px; padding-left: 15px;" class="header left">Shit ToDo Today</h1>
    </div>

    <div class="row z-depth-2">
      <h1 style="font-weight: 200; padding-top: 0px; padding-bottom: 0px; padding-left: 15px;" class="header left">Shit ToDo Today</h1>
    </div>
  </div> -->

  <h1 style="font-weight: 200;" class="header col s12">Markman's Shit ToDo Today </h1>
  <div class="divider"></div>

  <div class="row">
    <!-- Make a new Todo -->

  </div>

  <div class="row">
    <div class="col s6">
      <!-- List of Todos -->
      <div ui-sortable ng-model="todos">
        <div class="input-field" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
          <input type="text" ng-model="todo" class="">
          <a class="btn-floating right" ng-click="removeTodo($index)"><i class="mdi-navigation-close"></i></a>
        </div>
      </div>
    </div>

    <form role="form" ng-submit="addTodo()">

        <div class="input-field col s6 grid-example">
          <input type="text" id="addShit" ng-model="todo" placeholder="" class="validate">
          <label for="addShit">Add more shit</label>

          <button class="btn waves-effect waves-light right" type="submit">Add</button>
        </div>
    </form>
  </div>

</div>
