
  <!-- <div style="padding-top: 20px; padding-bottom: 10px;" class="row">
    <div class="jumbotron">
      <h1 class="header">Shit ToDo Today</h1>
      <p class="flow-text">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
  </div> -->
  <br />

 <!--  <div class="section">
    <div class="row z-depth-2">
      <h1 style="font-weight: 400; padding-top: 0px; padding-bottom: 0px; padding-left: 15px;" class="header left">Shit ToDo Today</h1>
    </div>

    <div class="row z-depth-2">
      <h1 style="font-weight: 200; padding-top: 0px; padding-bottom: 0px; padding-left: 15px;" class="header left">Shit ToDo Today</h1>
    </div>
  </div> -->

  <div class="nav-wrapper red" style="padding:px">
<!--
      <div class="col s4 ">
          <h1 style="font-weight: 400;" class="header col s12">To<span class="blue-text">Day</span></h1>
      </div>
-->

      <div class=" z-depth-2" style="padding:5px">
          <a href="/#/about"><h1 style="font-weight: 600;" class="header col s12 center white-text">T<span class="-text" style="font-weight: 200;">o</span><span class="-text" style="font-weight: 600;">D</span><span class="-text" style="font-weight: 200;">ay</span></h1></a>
          <p style="font-weight: 300;" class="center white-text">
              What are you doing today?
          </p>
      </div>

    </div>

   <div class="container z-depth-4" >

     <div class="card-panel">
      <div class="col s8 offset-s2">
            <form role="form" ng-submit="addTodo()">

                <div class="input-field col s12 grid-example">
                  <input type="text" id="addShit" ng-model="todo.title" placeholder="I'm doing..." class="validate">

                  <a class="" type="submit"></a>
                </div>

            </form>


        </div>
    </div>

  <div class="divider"></div>


  <div class="row">
    <div class="">
      <!-- List of Todos -->
      <div ui-sortable ng-model="todos">
        <div class="input-field" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">

         <!-- <div class="card">
            <div class="card-content black-text">
              <span class="card-title black-text" >{{todo.title}}</span>
              <input type="text" ng-model="todo.desc" class="">
            </div>
            <div class="card-action">
              <a class="btn white-text" ng-click="removeTodo($index)">Done.</a>
              <a class="btn white-text" ng-click="removeTodo($index)">Other.</a>
            </div>
          </div> -->

          <div class="card z-depth-1">
            <div class="card-content ">
              <span class="card-title activator grey-text text-darken-4">{{todo.title}} <i class="mdi-toggle-check-box right"></i></span>
                <input type="text" id="desc" ng-model="todo.desc" style="font-weight: 300;" placeholder="{{todo.title}} entails me doing..." class="black-text">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Checklist for {{todo.title}}<i class="mdi-navigation-close right"></i></span>

                <form action="#">
                    <p>
                        <input type="checkbox" id="task1" />
                        <label for="task1"><input type="text" placeholder="Task 1" class="black-text" style="margin-top: -15px; border-bottom:0px;" id="" ng-model="todo.check1"></label>
                    </p>
                    <p>
                        <input type="checkbox" id="filled-in-box" />
                        <label for="filled-in-box"><input type="text" placeholder="Task 2" class="black-text" style="margin-top: -15px; border-bottom:0px;" id="" ng-model="todo.check2"></label>
                    </p>
                    <p>
                        <input type="checkbox" id="test6" />
                        <label for="test6"><input type="text" placeholder="Task 3" class="black-text" style="margin-top: -15px; border-bottom:0px;" id="" ng-model="todo.check3"></label>
                    </p>
                </form>

            </div>
            <div class="card-action">
              <button class="btn white-text" style="" ng-click="removeTodo($index)" >Done</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
